<div class="row">
  <div class="column">
    <h1>Join a Game</h1>
    <%= form_for @conn, "/game", fn f -> %>
    <p>Enter you name: <%= text_input f, :name %> </p>
    <p><%= submit "Join" %></p>
    <% end %>
  </div>
</div>
