<script>
  function getDir() {
    var input = document.getElementById("input").value;
    window.location.href='/game/' + input
  }
</script>

<div class="row">
  <div class="column">
    <h1>Join a Game</h1>
    <input id="input" type="text" name="game"/>
    <button onClick="getDir()">Join</button>
  </div>
</div>
